<article class="doc">
<div class="agentspot-hero">
  <img class="agentspot-hero-logo light-only" src="{{{uiRootPath}}}/img/agentspot-logo.svg" alt="AgentSpot">
  <img class="agentspot-hero-logo dark-only" src="{{{uiRootPath}}}/img/agentspot-logo-dark.svg" alt="AgentSpot">
  <p class="agentspot-hero-subtitle">Documentation</p>
</div>
{{{page.contents}}}
{{> pagination}}
</article>