<article class="doc">
{{#with page.title}}
<h1 class="page">{{{this}}}<br><button class="badge badge-spotter3" data-tippy-content="Spotter 3 is generally available.">Spotter 3</button></h1>
{{/with}}
{{{page.contents}}}
{{> pagination}}
</article>