<div class="bg-ovals" aria-hidden="true">
  <span class="bg-oval bg-oval--1"></span>
  <span class="bg-oval bg-oval--3"></span>
  <span class="bg-oval bg-oval--4"></span>
  <span class="bg-oval bg-oval--5"></span>
</div>
